In [1]:
!pip install requests pandas

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.1.31)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import requests

In [16]:
import requests

# Example API URL for Payment Statistics (replace with the correct endpoint)
url = "https://api.bnm.gov.my/public/payment-statistic/02-epayment"

# Headers for specifying the API version
headers = {
    "Accept": "application/vnd.BNM.API.v1+json"
}

# Send GET request
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Parse the JSON response
    print(data)
else:
    print(f"Failed to fetch data: {response.status_code}")

{'data': {'year_dt': 2021, 'month_dt': 11, 'cre_crd_vol': '53.856006000000', 'cre_crd_val': '13.879046022000', 'chr_crd_vol': '0.355554000000', 'chr_crd_val': '0.995288166000', 'deb_crd_vol': '72.820747000000', 'deb_crd_val': '7.791378523000', 'emon_vol': '233.604955000000', 'emon_val': '4.981008092000', 'rentas_vol': '469.167000000000', 'rentas_val': '5359.982274039040', 'intr_giro_vol': '28688.497000000000', 'intr_giro_val': '125.501985189590', 'fpx_dir_deb_vol': '55044.385000000000', 'fpx_fir_deb_val': '25.562693810580', 'atm_pay_trn_vol': '4.215558000000', 'atm_pay_trn_val': '4781.367533000000', 'atm_cas_wit_vol': '66.975586000000', 'atm_cas_wit_val': '32574.646180000000', 'mob_bnk_vol': '125.015556000000', 'mob_bnk_val': '74672.220646000000', 'intr_bnk_vol_total': '175.053460000000', 'intr_bnk_vol_indv': '133.749029000000', 'intr_bnk_vol_corp': '41.304431000000', 'intr_bnk_val_total': '938.851671760000', 'intr_bnk_val_indv': '95.153667116000', 'intr_bnk_val_corp': '843.698004644000'}, 'meta': {'last_updated': '2022-01-27 16:54:28', 'total_result': 1}}

In [17]:
import pandas as pd

# Data from API response
data = {
    "year_dt": 2021,
    "month_dt": 11,
    "cre_crd_vol": 53.856006,
    "cre_crd_val": 13.879046022,
    "chr_crd_vol": 0.355554,
    "chr_crd_val": 0.995288166,
    "deb_crd_vol": 72.820747,
    "deb_crd_val": 7.791378523,
    "emon_vol": 233.604955,
    "emon_val": 4.981008092,
    "rentas_vol": 469.167,
    "rentas_val": 5359.98227403904,
    "intr_giro_vol": 28688.497,
    "intr_giro_val": 125.50198518959,
    "fpx_dir_deb_vol": 55044.385,
    "fpx_fir_deb_val": 25.56269381058,
    "atm_pay_trn_vol": 4.215558,
    "atm_pay_trn_val": 4781.367533,
    "atm_cas_wit_vol": 66.975586,
    "atm_cas_wit_val": 32574.64618,
    "mob_bnk_vol": 125.015556,
    "mob_bnk_val": 74672.220646,
    "intr_bnk_vol_total": 175.05346,
    "intr_bnk_vol_indv": 133.749029,
    "intr_bnk_vol_corp": 41.304431,
    "intr_bnk_val_total": 938.851671760,
    "intr_bnk_val_indv": 95.153667116,
    "intr_bnk_val_corp": 843.698004644
}

# Convert to DataFrame
df = pd.DataFrame([data])

# Display the DataFrame
print(df)

   year_dt  month_dt  cre_crd_vol  cre_crd_val  chr_crd_vol  chr_crd_val  \
0     2021        11    53.856006    13.879046     0.355554     0.995288

   deb_crd_vol  deb_crd_val    emon_vol  emon_val  ...  atm_cas_wit_vol  \
0    72.820747     7.791379  233.604955  4.981008  ...        66.975586

   atm_cas_wit_val  mob_bnk_vol   mob_bnk_val  intr_bnk_vol_total  \
0      32574.64618   125.015556  74672.220646           175.05346

   intr_bnk_vol_indv  intr_bnk_vol_corp  intr_bnk_val_total  \
0         133.749029          41.304431          938.851672

   intr_bnk_val_indv  intr_bnk_val_corp
0          95.153667         843.698005

[1 rows x 28 columns]

In [19]:
df

,year_dt,month_dt,cre_crd_vol,cre_crd_val,chr_crd_vol,chr_crd_val,deb_crd_vol,deb_crd_val,emon_vol,emon_val,...,atm_cas_wit_vol,atm_cas_wit_val,mob_bnk_vol,mob_bnk_val,intr_bnk_vol_total,intr_bnk_vol_indv,intr_bnk_vol_corp,intr_bnk_val_total,intr_bnk_val_indv,intr_bnk_val_corp
0,2021,11,53.856006000000,13.879046022000,0.355554000000,0.995288166000,72.820747000000,7.791378523000,233.604955000000,4.981008092000,...,66.975586000000,32574.646180000000,125.015556000000,74672.220646000000,175.053460000000,133.749029000000,41.304431000000,938.851671760000,95.153667116000,843.698004644000